build/
dist/
disco*.egg-info/
storage.db
storage.json
*.dca
*.pyc
.eggs/
.cache/
.benchmarks/
__pycache__

# Documentation stuff
docs/api/
docs/_build
_book/
node_modules/

# JetBrains IDE
.idea/

# macOS
.DS_Store
