backports.ssl-match-hostname==3.5.0.1
cffi==1.8.3
click==6.6
cryptography==1.5
enum34==1.1.6
Flask==0.11.1
gevent==1.1.2
greenlet==0.4.10
holster==1.0.0
idna==2.1
inflection==0.3.1
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
ndg-httpsclient==0.4.2
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==16.1.0
requests==2.11.1
six==1.10.0
# skema==0.0.1
websocket-client==0.37.0
Werkzeug==0.11.11
wheel==0.24.0
